
.background_img{
    max-width: 100%;
}

.logo{
    margin-top: 100px;
}

.title{
    color: var(--color-grey-3);
}



.ptext{
    line-height: 150%;
    font-size: var(--text-1);
    color: var(--color-grey-3);
}

.link{
    text-decoration: none;
    color: inherit;
}